/**
 * Brightness overlay
 * This is used to darken the screen, or make it brighter
 * ------------------------------------------------------
 */
web-os-brightness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  pointer-events: none;
  background: transparent;
}

/**
 * Nightlight overlay
 * This is used to tint the screen a certain color at night
 * --------------------------------------------------------
 */
web-os-nightlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  pointer-events: none;
  background: transparent;
}