/**
 * WebOS
 * The WebOS component is the root component of the application.
 * -------------------------------------------------------------
 */
web-os {
  display: flex;
  flex-direction: column;
  contain: strict;
  height: 100%;
  inset: 0px;
  overscroll-behavior: none;
  position: fixed;
  width: 100vw;
}

*, ::before, ::after {
  border: 0px;
  box-sizing: border-box;
  cursor: default;
  font-variant-numeric: tabular-nums;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-rendering: optimizelegibility;
  -webkit-user-select: none;
  user-select: none;
}