/**
 * WebOS
 * The WebOS component is the root component of the application.
 * -------------------------------------------------------------
 */
web-os {
  display: flex;
  flex-direction: column;
  contain: strict;
  height: 100%;
  inset: 0px;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100vw;
}