/**
 * WebOS Icons
 * The icons are the icons that are used in the WebOS desktop.
 * -----------------------------------------------------------
 */
 web-os-mdi {
  display: flex;
  align-items: center;
  justify-content: center;
 }