/**
 * These styles are applied to all HTML elements.
 * ----------------------------------------------
 */
*, ::before, ::after {
  border: 0px;
  box-sizing: border-box;
  cursor: default;
  font-variant-numeric: tabular-nums;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-rendering: optimizelegibility;
  -webkit-user-select: none;
  user-select: none;
}

* {
  transition: 
    background-color 0.2s ease, 
    border-color 0.2s ease, 
    color 0.2s ease, 
    fill 0.2s ease, 
    stroke 0.2s ease, 
    opacity 0.2s ease, 
    box-shadow 0.2s ease, 
    transform 0.2s ease, 
    -webkit-transform 0.2s ease;
}

/**
 * These styles are applied to the main HTML element.
 * --------------------------------------------------
 */
html {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  font-family: 'Roboto', sans-serif;
}